:root {
  --primary: #277afa;
  --secondary: #a4a4a4;
  --success: #abda44; 
  --danger: #fd0b0b;
  --warning: #fdc435;
  --info: #18c6eb;
  --light: #dddddd;
  --dark: #161616;
}

a {
  color: var(--botones);
}

a:hover {
  color: var(--danger);
}

.linea {
  border-right: 1px solid var(--extra);
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: var(--botones);
  margin-bottom: 0;
}
