:root {
  --primary: #2c7676;
  --secondary: #f8f6f3;
  --success: #969696; 
  --danger: #70b6b6;
  --warning: #b8dbdb;
  --info: #18c6eb;
  --light: #fcfefe;
  --dark: #161616;
}

a {
  color: var(--light);
}

a:hover {
  color: var(--primary);
}

.linea {
  border-right: 1px solid var(--primary);
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: var(--botones);
  margin-bottom: 0;
}
