:root {
    --primary: #2c7676;
    --secondary: #f8f6f3;
    --success: #969696; 
    --danger: #70b6b6;
    --warning: #b8dbdb;
    --info: #18c6eb;
    --light: #fcfefe;
    --dark: #161616;
  }

.dropdown-item-style {
    display: flex;
    justify-content: center;
}

.dropdown-item-style:hover {
    background-color: var(--primary);
    font-weight: 600;
    color: var(--light);
    display: flex;
    justify-content: center;
}