:root {
    --primary: #2c7676;
    --secondary: #f8f6f3;
    --success: #969696; 
    --danger: #70b6b6;
    --warning: #b8dbdb;
    --info: #18c6eb;
    --light: #fcfefe;
    --dark: #161616;
  }

.card-style {
    background-color: var(--primary);
    color: var(--light);
}