:root {
    --fondos: #d8c58d;
    --letras: #173042;
    --botones: #ffe9c7;
    --extra: #468071;
}

body {
    background-color: var(--fondos);
}

.nav-style {
    background-color: var(--letras);
    color: var(--botones)
}

.nav-style a {
    color: var(--botones)
}

.nav-style a:hover {
    color: var(--extra)
}

.foot-style {
    background-color: var(--letras);
    color: var(--botones)
}

.dropdown-styles {
    background-color: var(--letras);
}

.category-nav:focus {
    color: var(--extra);
}

.columnas-dropdown {
    font-size: 14px;
    left: 0;
    box-sizing: content-box;
    margin: 0;
    min-width: 22rem;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    top: 2.5rem;
    z-index: 2;
}