:root {
    --primary: #277afa;
    --secondary: #a4a4a4;
    --success: #abda44; 
    --danger: #a60505;
    --warning: #fdc435;
    --info: #18c6eb;
    --light: #dddddd;
    --dark: #161616;
}

body {
    background-color: var(--light);
}

.nav-style {
    background-color: var(--danger);
    color: var(--light)
}

.nav-style a {
    color: var(--light)
}

.nav-style a:hover {
    color: var(--light)
}

.foot-style {
    background-color: var(--danger);
    color: var(--botones)
}

.dropdown-styles {
    background-color: var(--light);
}

.category-nav:focus {
    color: var(--danger);
}

.columnas-dropdown {
    font-size: 14px;
    left: 0;
    box-sizing: content-box;
    margin: 0;
    min-width: 22rem;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    top: 2.5rem;
    z-index: 2;
}

.btn-recetas {
    background-color: var(--fondos);
    color: var(--letras)
}
.card-login-body {
    background-color: var(--letras);
    color: var(--botones);
}
.card-login-header {
    background-color: var(--danger);
    color: var(--botones);
}
.input-body {
    background-color: var(--sodapop);
    color: var(--letras);
}